@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/UltraLight/SF_UI_UltraLight.woff2") format("woff2"), 
		url("../fonts/UltraLight/SF_UI_UltraLight.woff") format("woff"),
		url("../fonts/UltraLight/SF_UI_UltraLight.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/Thin/SF_UI_Thin.woff2") format("woff2"), 
		url("../fonts/Thin/SF_UI_Thin.woff") format("woff"),
		url("../fonts/Thin/SF_UI_Thin.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Light/SF_UI_Light.woff2") format("woff2"), 
		url("../fonts/Light/SF_UI_Light.woff") format("woff"),
		url("../fonts/Light/SF_UI_Light.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Regular/SF_UI_Regular.woff2") format("woff2"), 
		url("../fonts/Regular/SF_UI_Regular.woff") format("woff"),
		url("../fonts/Regular/SF_UI_Regular.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Medium/SF_UI_Medium.woff2") format("woff2"), 
		url("../fonts/Medium/SF_UI_Medium.woff") format("woff"),
		url("../fonts/Medium/SF_UI_Medium.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/SemiBold/SF_UI_SemiBold.woff2") format("woff2"), 
		url("../fonts/SemiBold/SF_UI_SemiBold.woff") format("woff"),
		url("../fonts/SemiBold/SF_UI_SemiBold.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Bold/SF_UI_Bold.woff2") format("woff2"), 
		url("../fonts/Bold/SF_UI_Bold.woff") format("woff"),
		url("../fonts/Bold/SF_UI_Bold.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/Heavy/SF_UI_Heavy.woff2") format("woff2"), 
		url("../fonts/Heavy/SF_UI_Heavy.woff") format("woff"),
		url("../fonts/Heavy/SF_UI_Heavy.ttf") format("ttf");
}

@font-face {
	font-family: "SF UI Text";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Black/SF_UI_Black.woff2") format("woff2"), 
		url("../fonts/Black/SF_UI_Black.woff") format("woff"),
		url("../fonts/Black/SF_UI_Black.ttf") format("ttf");
}